:root {
    --white: #FFFFFF;
    --black: #151515;
    --theme-main: #702df5;
    --panel-color: #1D1D1D;
    --button-color: #2C2C2C;
    --item-border: rgba(255, 255, 255, 0.1);
    --table-border: rgba(40, 40, 40);
    --item-radius: 10px;
    --md-8: 8px;
    --md-16: 16px;
    --md-20: 20px;
    --md-24: 24px;
    --md-32: 32px;
    --md-48: 48px;
    --md-64: 64px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    height: 100%;
}

div#root {
    height: 100%;
}

.panel {
    border-radius: var(--item-radius);
    background-color: var(--panel-color);
}

.big-button {
    display: flex;
    background-color: var(--white);
    border-radius: 1000px;
    height: 40px;
    width: 376px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: var(--md-8);
    padding-bottom: var(--md-8);
    align-self: center;
}

.big-button:hover {
    opacity: 0.9;
}

.big-button:disabled {
    opacity: 0.6;
}

.little-button {
    display: flex;
    background-color: var(--button-color);
    border-radius: var(--item-radius);
    border: 3px solid var(--button-color);
    height: 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: var(--md-8);
    padding-bottom: var(--md-8);
    padding-left: var(--md-16);
    padding-right: var(--md-16);
    align-self: center;
    transition: all 0.2s;
}

.little-button:hover {  
    border: 3px solid var(--theme-main);
}

textarea {
    background-color: var(--button-color);
    border: 3px solid var(--button-color);
    border-radius: var(--item-radius);
    padding: var(--md-16);
    font-size: inherit;
    color: var(--white);
    font-family: inherit;
    min-height: 80px;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border: 3px solid var(--item-border);
}

input.small {
    width: 128px;
}

input {
    background-color: var(--button-color);
    border: 3px solid var(--button-color);
    border-radius: var(--item-radius);
    padding: var(--md-16);
    font-size: inherit;
    color: var(--white);
    font-family: inherit;
}

input:focus {
    outline: none;
    border: 3px solid var(--item-border);
}

h1 {
    color: var(--white);
    font-size: var(--md-48);
    font-weight: bolder;
    margin: 0px;
}

h2 {
    color: var(--white);
}

h3 {
    color: var(--white);
    margin: 0px;
}

h4 {
    color: var(--black);
    font-size: var(--md-20);
    font-weight: normal;
    margin: 0px;
}

p.emphasis {
    color: var(--white);
    margin: 0px;
    font-weight: bold;
}

p {
    color: var(--white);
    margin: 0px;
}

.undecorated-link {
    text-decoration: none;
    
}

.underline-animated {
    position: relative;
}
.underline-animated:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.underline-animated::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.grow-animated {
    transition: transform 0.25s ease-out
}

.grow-animated:hover {
    transform: scale(1.05)
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-16 {
    margin-left: 16px;
}

.margin-left-32 {
    margin-left: 32px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

p.quiet {
    opacity: 0.6;
}

.padding-32 {
    padding: 32px;
}